
body {}
.basic_block {padding:12px; border-bottom:#aaa 1px solid;}
.top_menu {display:inline-block; padding:6px 9px 7px 9px; background-color:blue; color:white; font-size:0.9em; border-radius:5px; margin:0 3px 0 0;}
.contents_block {background-color:#fff;}
.left_block {float:left; width:234px; background-color:#eee; min-height:66px;}
.left_block>a {display:block; padding:12px 18px; border-bottom:#999 1px solid;}
.right_block {width:100%; padding:15px 15px 15px 255px; min-height:300px; border-left:#999 1px solid;}

#data_exec_frame {display:none;}

.content_title {font-size:1.2em; font-weight:bold; margin:0 0 9px -6px; padding:0 6px; display:inline-block; border-bottom:lime 6px solid;}
.content_subtitle {font-size:1.06em; font-weight:bold; margin:0 0 9px -6px; padding:0 6px;}
.content_body {line-height:150%;}
input[type='text'], input[type='password'] {border:#333 1px solid; width:100%; max-width:720px; height:36px; display:block; margin:0 0 9px 0; padding:0 0 0 6px;}
input[type='submit'] {border:#333 1px solid; width:180px; height:36px; display:block; text-align:center;}
textarea {border:#333 1px solid; width:100%; max-width:720px; height:180px; display:block; margin:0 0 9px 0; padding:6px; line-height:150%;}

.click_carefully {display:inline-block; width:120px; height:27px; background-color:red; color:white; font-size:0.84em; line-height:25px; text-align:center;
    border-radius:5px;}

.board_lists {border-top:#999 1px solid; padding:6px; max-width:720px;}
.board_lists div {display:inline-block;}
.board_lists div a{display:inline-block; padding:2px 6px 3px 6px; background-color:blue; color:white; font-size:0.8em; border-radius:2px; margin:0 3px 0 0;}
.board_lists div a:nth-child(2) { background-color:crimson;}
.board_lists div a:nth-child(3) { background-color:#007a6a;}
.board_lists div:first-child {width:90px; background-color:#f5f5ff; text-align:center;}
.board_lists div:last-child {width:100%; margin:6px 0 0 39px; font-size:0.94em;}

.biz_lists {border-top:#999 1px solid; padding:6px 0; margin:6px 0 0 0; max-width:720px;}
.biz_lists div {display:inline-block; margin:3px 0;}
.biz_lists div a{display:inline-block; padding:2px 6px 3px 6px; background-color:blue; color:white; font-size:0.8em; border-radius:2px; margin:0 3px 0 0;}
.biz_lists div a:nth-child(2) { background-color:crimson;}
.biz_lists div:last-child {width:100%; padding:0 0 0 24px; font-size:0.94em; line-height:150%;}

.contents_lists {border-top:#999 1px solid; padding:6px; max-width:720px;}
.contents_body {border:#999 1px solid; max-height:240px; overflow-y:auto; margin:6px 0px; padding:6px;}
.contents_body p {line-height:150%;}

.survey_lists {border-top:#999 1px solid; padding:6px; max-width:720px;}
.survey_lists div {display:inline-block;}
.survey_lists div a{display:inline-block; padding:2px 6px 3px 6px; background-color:blue; color:white; font-size:0.8em; border-radius:2px; margin:0 3px 0 0;}
.survey_lists div a:nth-child(2) { background-color:crimson;}
.survey_lists div a:nth-child(3) { background-color:#007a6a;}
.block_title_div {margin:12px 0 6px 0;}
.q_entry {border-top:#999 1px solid; padding:6px; max-width:720px; margin:6px 0 0 0; padding:6px 0 0 0;}
.q_handler {display:block; width:100%; margin:6px 0 0 0;}
.q_handler a{display:inline-block; padding:2px 6px 3px 6px; background-color:blue; color:white; font-size:0.8em; border-radius:2px; margin:0 3px 0 0;}
.q_handler a:nth-child(2) { background-color:crimson;}
.q_handler a:nth-child(3) { background-color:#007a6a;}
.q_handler a:nth-child(4) { background-color:#018a3c;}
.resp_entry {border-top:#999 1px solid; padding:6px; max-width:720px; margin:6px 0 0 0; padding:6px 0 0 30px;}
.resp_entry a{display:inline-block; padding:2px 6px 3px 6px; background-color:#546bc7; color:white; font-size:0.8em; border-radius:2px; margin:0 3px 0 0;}
.resp_entry a:nth-child(2) { background-color:#c25186;}
.text_resp {margin:-12px 0 0 0;}
