* {text-align:left; font-size:15px; font-family:'Noto Sans KR', sans-serif; font-weight:400; color:#000;
    border:0; margin:0; padding:0; line-height:100%; letter-spacing:-0.02em;
    box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;
}
a {text-decoration:none;}

.ck-editor {
    max-width: 720px;
}

.ck-editor__editable_inline {
    min-width: 720px;
    min-height: 400px;
}