@charset "UTF-8";

/* 포인터 커서 */
li.brief {cursor: pointer;}

/*li {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}*/

.paging_div {text-align:center; margin:24px 0 0 0;}
.paging_div>a {background-color:#777; color:#fff; font-size:0.8em; padding:0 0.5em;
    border:#111 1px solid; border-radius:4px; line-height:21px;}
.paging_div>a:hover {background-color:#111;}

.ck.ck-editor{min-height: 330px;}
.ck-editor__editable { min-height: 330px;}

.highlight { color: #579e9e; font-weight: bold; }