@media screen and (max-width: 990px) {
	
	.head_space {height:57px;}
	._site_logo>a {font-size:27px;}
	._context>a {margin:21px 9px 0 0;}
	.page_list_block {width:48%; max-width:48%;}
	.page_main_block {height:240px;}
	
}

@media screen and (max-width: 744px) {
	
	.head_space {height:54px;}
	._site_logo>a {font-size:24px;}
	._context>a {margin:21px 9px 0 0;}
	.page_list_block {width:48%; max-width:48%;}
	.page_list_block>img {height:81px;}
	.page_main_block {height:210px;}
	
}