@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {text-align:left; font-size:15px; font-family:'Noto Sans KR', sans-serif; font-weight:400; color:#000;
	border:0; margin:0; padding:0; line-height:100%; letter-spacing:-0.02em;
	box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;
}
body {width:100%; max-width:990px; margin:0 auto; background-color:#f5f6fc; overflow-y:scroll;}
a {text-decoration:none;}
select {border:#739ce6 2px solid; width:100%; height:39px; padding:0 6px; -webkit-appearance:none; border-radius:0px;}
input {border:#666 1px solid; width:100%; height:39px; padding:0 6px; -webkit-appearance:none; border-radius:0px;}
input[type='text'] {border:#739ce6 2px solid;}
input[type='email'] {border:#739ce6 2px solid;}
input[type='password'] {border:#739ce6 2px solid;}
input[type='number'] {border:#739ce6 2px solid;}
input[type='submit'],
input[type='button'] {text-align:center; width:180px; border-radius:7px; display:block; margin:12px auto; padding:0 0 3px 0;
	border:none; background-color:#1c278a; color:#fff; font-weight:600;}

input[type='button'].dlink {width:150px; height:30px; border:#999 1px solid; border-radius:0px; display:block; margin:6px; padding:0 0 2px 0;
	background-color:#fff; color:#000; font-weight:400; font-size:0.9em;}
input[type='button'].rlink {width:39px; height:18px; border:#666 1px solid; border-radius:0px; display:inline-block; margin:3px 3px 0 3px; vertical-align:top;
	background-color:#666; color:#fff; font-weight:400; font-size:0.81em;}

input[type='checkbox'] {-webkit-appearance:checkbox; border-radius: 0;}
input[type='radio'] {-webkit-appearance:radio; width:18px; height:18px; display:inline-block; margin:9px 0 0 18px;
	vertical-align:top;}
textarea {width:100%; height:120px; border:#739ce6 2px solid; padding:6px; line-height:150%; -webkit-appearance:none; border-radius:0px;}
textarea.article_body {height:330px;}
form>p {margin:3px 0; color:#335ba3;}
#member_check {width:21px; height:21px; display:inline-block; vertical-align:bottom; margin:9px 0;}
label {display:inline-block; vertical-align:bottom; margin:0 0 0 0;}
.bank_check {width:21px; height:21px; display:inline-block; vertical-align:top; margin:5px 3px 0 18px;}
label {display:inline-block; vertical-align:bottom; margin:9px 0 12px 3px;}

submenu {display:block;}
submenu>a {display:inline-block; margin:0 3px 0 0; padding:12px; font-size:0.9em;
	color:#fff;
	background-image:linear-gradient(#121170, #f5f6fc); border-radius:5px 5px 0 0;}
block {display:block; padding:12px 0 0 0; margin:12px 0 0 0;}
block>p {line-height:150%; margin:0 0 6px 0;}

#data_exec_frame {display:none;}
.dodgerblue {color:dodgerblue;}
.deeppink {color:deeppink;}

section {display:block; width:100%; max-width:990px; margin:0 auto;}
section p {line-height:150%; padding:0 18px;}
section p img{max-width:100%;}
section>form>p {line-height:150%; padding:0;}
section>div, section>form {padding:0 18px;}
.align_center {text-align:center;}
.align_right {text-align:right;}
.bold {font-weight:bold;}
.head {background-color:#202b8a; position:fixed; left:0px; top:0px; width:100%;} /* #0e154f */
.head_space {height:60px;}
.head_menu {position:relative;}
._site_logo {font-family:'KoPub Dotum'; font-weight:600; font-size:1.35em; color:orange;
	background-color:#0e154f; padding:15px 0 15px 0; position:relative;}
._site_logo>a>img {height:30px;}
._site_logo>a {font-family:'Arial'; font-weight:700; font-size:30px; color:#fff; letter-spacing:-0.03em; display:inline-block;}

._user {position:absolute; top:0px; left:0px; color:#fff;}
._user>a {display:inline-block; margin:20px 0 0 12px; font-size:0.96em; color:#d6dbff; letter-spacing:-0.1em;}

._context {position:absolute; top:0px; right:0px; color:#fff;}
._context>a {display:inline-block; margin:24px 12px 0 0;}
._context>a>b {display:inline-block; border:#fff 3px solid; border-left:none; border-right:none;
	height:12px; width:24px;}
._context>a>img {height:18px;}
._context_block {position:absolute; right:-12px; margin-top:8px; width:60%; max-width:300px;}
._context_block>a {text-align:right;}
._context_menu {display:block; background-color:rgba(71,116,197,0.96); color:#fff; padding:12px 30px 12px 0; border-bottom:rgba(73,172,195,0.96) 1px solid; }
._context_menu:hover {background-color:rgba(39,70,125,0.96);}
._context_block>b {display:block; position:relative; width:100%; border-top:rgb(39,70,125) 1px solid;}
#triangle-up {
	position:absolute; top:-20px; right:24px;
	width:0;
	height:0;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:20px solid rgba(71,116,197,0.96);
}

.notice_block {margin:0 0 3px 0; position:relative; padding:24px 0 0 0;}
.notice_block>p {position:absolute; left:0px; top:9px; font-family:'KoPub Dotum'; font-weight:700; letter-spacing:-0em;}
.page_list_block {margin:0 0 3px 0; position:relative; padding:24px 0 0 0; border-bottom:#ced0e0 1px dotted;
	width:33.1%; min-height:150px; padding:0 0 12px 0; display:inline-block; text-align:center;}
.page_list_block>img {height:90px; display:block; margin:18px auto 6px auto;}
.page_list_block>p {font-family:'Noto Sans KR'; font-weight:700; font-size:1.1em; color:#2d3dc2; text-align:center;}
.page_list_block>div {font-family:'Noto Sans KR'; font-weight:300; color:#2d3dc2; text-align:center;}

.page_title_block {width:100%; padding:12px 0 15px 0; text-align:center;
	margin:0 auto 12px auto; background-color:#579e9e;
}
.page_title_block>p {text-align:center; margin-top:-27px; font-weight:100; color:#4298b3; display:none;}
.page_title_block>div {text-align:center; font-weight:700; font-size:1.2em; color:#fff;}
.white_block {background-image:none;
	border-image: conic-gradient(white, #4298b3, #4298b3, white) 1;}
.page_main_block {width:100%; height:270px; margin:-30px 0 0 0; background-color:#202b8a;
	background-image:url(http://oacis.codeon.co.kr/images/urban_01.jpg); background-repeat:no-repeat; background-size:cover; background-position:center bottom;}
.page_main_block>p {padding:39px 18px; color:rgba(255,255,255,0.64); font-family:'Arial'; font-weight:600; font-size:21px; line-height:123%;}

ul.none {list-style-type:none; margin:0 0 12px 0; text-align:left; position:relative;}
ul.none>form {width:300px; height:300px; border:#999 1px solid; background-color:#fff; position:absolute; top:-12px; right:0px; text-align:center; padding:12px;}
ul.none>form>input[type='file'] {width:180px; border:#999 1px solid;}
li {padding:9px 12px; border-bottom:#ccc 1px dotted;}
li:nth-child(1) {border-top:#ccc 1px dotted;}
li>b {font-weight:700; display:inline-block; text-align:left; width:120px;}
ul.notice {margin:9px 0 0 0;}
.line150 {line-height:150%;}
li.brief {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding-right:12px;}
li.article {line-height:150%;}
li.article a {color:blue; text-decoration:underline;}
li.article img {display:block; max-width:100%; margin:0 auto; border:#999 1px solid;}

.search_txt {display:inline-block; width:180px; height:27px; margin:0 0 0 9px;}
.search_btn{display:inline-block; width:36px; height:24px; border:none; vertical-align:bottom; margin:0 0 2px 0;}

.paging {text-align:center;}
.paging>a {display:inline-block; padding:6px 6px 4px 6px; background-color:#333; color:#fff; font-size:0.8em; font-family:'Arial'; margin:0 2px;}
.additional_links {display:block; height:30px; line-height:27px; border-radius:0px;
	background-color:#03688a; color:#fff; font-weight:400; font-size:0.9em; margin:9px 0 0 0;}

.foot {margin:24px 0 0 0;}
.float {position:fixed; top:105px; left:0px; width:100%;}
.float>section {background-color:rgba(255,255,255,0.96); padding:12px; line-height:150%; position:relative; min-height:960px; border:#ddd 1px solid;}
.float>section>div {
	position:absolute; top:-18px; right:9px; font-size:24px; color:crimson; background-color:#fff; padding:6px 9px; display:inline-block;
	cursor:pointer;
}
.float_textarea {display:none;}

.bottom {background-color:#202b8a; position:fixed; left:0px; bottom:0px; width:100%;}
.bottom>section>div {padding:9px 0; font-size:0.9em; color:#fff;}
.bottom>section a {font-size:1em; color:#fff;}












